*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(152, 201, 243);
}
/* sensatech global logo*/
.sensatech{
    width: 100%;
    height: auto;
    margin-bottom: 0;
}
img{
    margin-bottom: 0;
}
/*Intro*/
#intro_box{
    background-color: chocolate;
    width: 100%;
}
h2{
     padding-top: 20px;
    font-size: 1em;
    color: rgb(36, 35, 35);
}
h1{
    font-size: 1.5em;
     padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    font-family: serif,monospace;
    font-weight: bolder;
}
.intro_left_text{
    margin-left: 20px;
}
@media (min-width:768px) {
    h2{
        padding-top: 500px;
        font-size: 2.5em;
    }
    h1{
        padding-bottom: 200px;
        font-size: 4em;
    }
}
/*end*/

/*Table of content*/
.table_of_content{
    display: flex;
    flex-direction: column;
    float: right;
    font-size: 2em;
    font-family: serif;
}
h3{
   font-size: 1.5em;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
    color: grey;
}
ul{
    margin-left: 2px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}
@media (min-width:768px) {
    ul{
        display: flex;
        flex-direction: column;
    margin-left: 2px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: 600;
}
table_of_content{
    display: flex;
    flex-direction: column;
    float: right;
    font-size: 3em;
    font-family: serif;
}
}


.btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}
button {
  background-color: #2196f3;
  color: white;
  padding: 12px 24px;
  border: 3px solid red;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: box-shadow 0.4s ease-in-out;
}

button:hover {
  box-shadow: 0 0 0 6px rgba(255, 0, 0, 0.5); /* Looks like border grows */
}



@keyframes pulse-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

button {
  animation: pulse-border 1.8s infinite;
}
   
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
.jslogo{
     max-width: 80%;
     border-radius: 5px;
  }
 

    
