*{
  margin: 0;
  padding:  0;
  font-family: sans-serif;
}
body{
  line-height: 130%;
  background-color: rgb(152, 201, 243);
  font-family: 'sans-serif';
}
.topic{
  font-weight: bolder;
  font-size: 18px;
}
li{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
}
header{
  line-height: 120%;
  padding: 3px 10px;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  align-items: center;
}
span{
  font-weight: bold;
  color: orangered;
}
a[href$=".html"]{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}


.btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}
button {
  background-color: #2196f3;
  color: white;
  padding: 12px 24px;
  border: 3px solid red;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: box-shadow 0.4s ease-in-out;
}

button:hover {
  box-shadow: 0 0 0 6px rgba(255, 0, 0, 0.5); /* Looks like border grows */
}



@keyframes pulse-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

button {
  animation: pulse-border 1.8s infinite;
}
  i{
   white-space: nowrap;
  }
  code{
    font-size: 80%;
    margin-left: 3%;
    background-color: rgba(6,100,100,0.3);
    padding: 3px;
    border-radius: 2px;
  }
  
